
[v-cloak] {
	display: none;
}

.details {
	background: #fff;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.details header {
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	width: 100%;
	height: 45px;
	background: #fff;
	position: relative;
}

.details header:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 99;
	transform-origin: 0 100%;
	transform: scaleY(0.5);
	width: 100%;
	height: 1px;
	background-color: #dcdfe3;
}

.details header h1 {
	font-size: 17px;
	color: #333;
	display: block;
	-webkit-box-flex: 1;
	text-align: center;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
}

.details header .back {
	display: block;
	width: 45px;
	height: 45px;
	background: url(../images/back.png) center no-repeat;
	background-size: auto 22px;
}

.details header .share {
	display: block;
	width: 45px;
	height: 45px;
	background: url(../images/share.png) center no-repeat;
	background-size: auto 20px;
}

.details header .back:active, .details header .share:active {
	opacity: 0.7;
}

.details main {
	-webkit-box-flex: 1;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background: #f2f3f4;
}

.details main .base-info {
	background: #fff;
	padding: 15px;
	margin-bottom: 10px;
}

.details main .base-info .pic {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}

.details main .base-info #pic360 {
	position: absolute;
	left: 50%;
	top: 50%;
}

.details main .base-info h2 {
	font-size: 16px;
	line-height: 1.4;
	color: #555;
}

.details main .base-info p {
	font-size: 18px;
	line-height: 1.4;
	color: #D0011B;
}

.details main article {
	background: #fff;
	padding: 15px;
}

.details main article p {
	font-size: 14px;
	line-height: 1.4;
}

.details footer {
	display: -webkit-box;
	width: 100%;
	height: 50px;
	background: #fff;
	position: relative;
}

.details footer:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	transform-origin: 0 0;
	transform: scaleY(0.5);
	width: 100%;
	height: 1px;
	background-color: #dcdfe3;
}

.details footer a {
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}

.details footer a:active {
	background: rgba(0,0,0,0.02);
}

.details footer a.l {
	-webkit-box-orient: vertical;
	width: 80px;
}

.details footer a.l i {
	display: block;
	width: 22px;
	height: 22px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.details footer a.l span {
	display: block;
	font-size: 11px;
	line-height: 1.4;
	color: #555;
}

.details footer a.l.contact i {
	background-image: url(../images/call.png);
}

.details footer a.l.love i {
	background-image: url(../images/fav.png);
}

.details footer a.l.shop i {
	background-image: url(../images/shop.png);
}

.details footer a.add-cart {
	background: #2F96DA;
	-webkit-box-flex: 1;
	color: #fff;
	font-size: 16px;
}

.details footer a.add-cart i {
	display: block;
	width: 22px;
	height: 22px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/cart.png);
	margin-right: 5px;
}

.details footer a.add-cart:active {
	opacity: 0.9;
}