/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.p1{
  background-image: url(p1.png);
}
.p1.position-1 {
  background-position: -600px 0px;
  width: 600px;
  height: 600px;
}
.p1.position-2 {
  background-image: url(p1.png);
  background-position: 0px -1200px;
  width: 600px;
  height: 600px;
}
.p1.position-3 {
  background-image: url(p1.png);
  background-position: 0px -600px;
  width: 600px;
  height: 600px;
}
.p1.position-4 {
  background-image: url(p1.png);
  background-position: -600px -600px;
  width: 600px;
  height: 600px;
}
.p1.position-5 {
  background-image: url(p1.png);
  background-position: -1200px 0px;
  width: 600px;
  height: 600px;
}
.p1.position-6 {
  background-image: url(p1.png);
  background-position: -1200px -600px;
  width: 600px;
  height: 600px;
}
.p1.position-7 {
  background-image: url(p1.png);
  background-position: 0px 0px;
  width: 600px;
  height: 600px;
}
.p1.position-8 {
  background-image: url(p1.png);
  background-position: -600px -1200px;
  width: 600px;
  height: 600px;
}
.p1.position-9 {
  background-image: url(p1.png);
  background-position: -1200px -1200px;
  width: 600px;
  height: 600px;
}
.p1.position-10 {
  background-image: url(p1.png);
  background-position: -1800px 0px;
  width: 600px;
  height: 600px;
}
.p1.position-11 {
  background-image: url(p1.png);
  background-position: -1800px -600px;
  width: 600px;
  height: 600px;
}
.p1.position-12 {
  background-image: url(p1.png);
  background-position: -1800px -1200px;
  width: 600px;
  height: 600px;
}
